.Seat {
    border: 1px solid black;
    min-height: 100px;
    border-radius: 5%;
    margin: 5% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Seat-reserved {
    background: #444;
}

.Seat-avaliable {
    background-color: lemonchiffon;
}

.Seat-avaliable-modifiable {
    background-color: lemonchiffon;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: background-color .7s, transform 0.4s ease-in-out;
}

.Seat-avaliable-modifiable:hover {
    background-color: orange;
}

.Seat-chosen {
    background: orange;
}

.Seat-chosen-modifiable {
    background: orange;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: background-color .7s, transform 0.4s ease-in-out;
}
