.SeatsPage__container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 0;
    padding-bottom: 5%;
}

.SeatsPage__item {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.SeatsPage__item > span {
    align-self: center;
}

.SeatsPage__item > div {
    width: 71%;
    align-self: center;
}