.StartPage {
    width: 100%;
    height: 100%;
}

.StartPage__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: space-around;
}

.StartPage__input {
    margin-left: 80px;
}